<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Boris</title>
</head>
<body>
    <h1>Boris</h1>
    {% for product in products %}
        <div>
            <h3><a href="{% url 'product' product.id %}">{{ product.title }}</a></h3>
            <p>{{ product.price }}</p>
            <div>
                {% if product.image %}
                    <img src="{{ product.image.url }}"/>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</body>
</html>
